/* Styles for all pages */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

input[type="text"], input[type="password"], input[type="url"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #444;
}

/* Styles for the dashboard page */
.bookmark-form, .bookmarks, .read-later {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.bookmark-list .bookmark, .read-later-list .bookmark {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #fafafa;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

/* Styles for the signup page */
.homepage-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.left-container, .right-container {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 45%;
}

.social-btn {
    display: inline-block;
    margin: 0 5px;
    padding: 10px;
    border-radius: 50%;
    background-color: #f0f0f0;
    text-align: center;
    line-height: 1;
    transition: background-color 0.3s ease;
}

.social-btn:hover {
    background-color: #e0e0f0;
}
